/* PROMOBAR START*/
body #promobar {
    font-size: 0.7rem;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
  }
  
    @media (min-width: 1200px) {
    body #promobar {
      letter-spacing: 1px;
        }
    }
    @media (max-width: 767px) {
        body #promobar {
          display: none;
  }
  }
  /* PROMOBAR END*/