body {

    .newsletter {

        label {
            font-size: 14px;
            font-family: $bodyfont;
            font-weight: $bodyfontweights;
            color: $newsletter;
            margin-left: 24px;
        }

        input {
            display: block;
            width: 300px;
            height: 43px;
            /* padding-top: 11px;
    padding-bottom: 11px; */
            padding-left: 15px;
            border-style: 1px solid $newsletter;
            align-items: center;

        }

        .email {
            display: flex;
            width: 100%;
            align-items: center;

        }

        .submit {
            display: block;
            background-color: $primary;
            font-family: $titlesfont;
            font-weight: $titlesfont;
            font-size: 18px;
            color: $white;
            width: 300px;
            height: 48px;
            padding: 13 21 13 21;
            border: none;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}