
 
 .animate{
     -webkit-transition: all $animationtime ease; 
    -moz-transition: all $animationtime ease;
    -ms-transition: all $animationtime ease;
    -o-transition: all $animationtime ease;
    transition: all $animationtime ease; 
} 

.textleft{
    text-align: left;
}
.textcenter{
    text-align: center;
}
.textright{
    text-align: right;
}

.primary{
    color: $primary;
}
.blue{
    color: $blue;
}
.warmgrey{
    color: $warmgrey;
}
.yellow{
    color: $yellow;
}
.darkgrey{
    color: $darkgrey;
}
.white{
    color: $white;
}

.imgfit{
    display: block;
    height: auto;
}
