$mobile: 414px;
$tablet: 708px;
$desktop: 1440px;

$titlesfont: "CentraNo2";
$titlesfontweights: "700";
$bodyfont: "CentraNo2";
$bodyfontweights: "400";

$primary: #ED282D;
$blue: #CEE9E5;
$warmgrey: #E8E6DA;
$yellow: #FAD33C;
$darkgrey: #7F7F7F;
$newsletter: #828282;
$white: #FFF;
$black: #333333;

$animationtime: 0.4s;

$gridcolumns-mobile: 4;
$gridgutter-mobile: 20px;
$gridwidth-mobile: 366px;

$gridcolumns-tablet: 8;
$gridgutter-tablet: 20px;
$gridwidth-tablet: 660px;

$gridcolumns-desktop: 12;
$gridgutter-desktop: 20px;
$gridwidth-desktop: 1240px;

$formlineheight: 21px;
$formborderwidth: 2px;